# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# Trained Models
models/*.pkl

# Streamlit Cache
.streamlit/

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log